.toast-message {
    background: rgb(64, 149, 235);
    color: #fff;
    font-size: 20px;
    padding: 30px 20px;
  }
  
  @media (max-width: 768px) {
    .toast-message {
      width: 90vw; /* Adjust the width for smaller screens */
      font-size: 16px; /* Decrease the font size for smaller screens */
      padding: 20px 10px; /* Adjust the padding for smaller screens */
    }
  }
  
